* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}

#sky {
  background: black;
  touch-action: none;
  align-self: stretch;
  justify-self: stretch;
  max-width: 100%;
  display: block;
}

.App {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  grid-template-columns: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
